.container {
  padding: 40px;
  text-align: center;
  flex: 1;
}

.container h1 {
  color: #5b3a29;
}

.form {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 320px;
  margin-inline: auto;
}

.form input {
  padding: 12px;
  border-radius: 8px;
  border: 1px solid #ccc;
}

.form button {
  padding: 12px;
  border: none;
  border-radius: 8px;
  background-color: #5b3a29;
  color: white;
  cursor: pointer;
  transition: 0.3s;
}

.form button:hover {
  background-color: #7a4f39;
}