.card {
  background-color: white;
  padding: 20px;
  border-radius: 12px;

  width: 250px;

  box-shadow: 0 0 10px rgba(0,0,0,0.1);

  transition: 0.3s;
}

.card:hover {
  transform: translateY(-5px);
}

.card h2 {
  color: #5b3a29;
  margin-bottom: 10px;
}

.card p {
  color: #555;
}